@media only screen and (max-width: 500px) {
    nav {
        padding: 0px;
        width: 100%;
        height: auto;
        background-color: darkcyan;
    }

    ul {
        list-style-type: none;
        margin: 5px 0px;
        padding: 0;
        overflow: hidden;
        background-color: rgb (250, 191, 62);
        width: 80px;
    }
      
    li {
        float: left;
    }
      
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
      
    li a:hover {
        background-color: rgb(172, 243, 196);
    }

    header  {
        padding: 0px;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: flex-start;
    }
    .my-image {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 505px) {
    nav {
        height: 120px;
    }
    .my-image {
        width: 100px;
        height: 100px; 
    
    }

}

@media only screen and (min-width: 700px) {
    nav {
        height: 75px;
        justify-content: flex-start;
    }
}

body {
    background-color: rgb(248, 253, 255);
}
    
#logo {
    width: 100px;
    height: 100px;
    
}
    
header {
    background-color: rgb(115, 223, 205);
    color: royalblue;
    padding: 0 10%;
     height: 20%;
}
    
header > h1 {
    display: inline-block;
    margin-left: 30px;
    font-size: 50px;
    position: absolute;
    text-align: center;
    
}
    
.my-image {
    width: 200px;
    height: 200px;
}
    
nav {
    margin-left: 30px;
    margin-right: 120px;
    background-color: teal;
}
    
p {
    font-size: 25px;
    text-align: center;
}
    
h2 {
    text-align: center;
}
    
.Archivos {
    border-radius: 5px;
    background-color: khaki;
    border-color: khaki;
     padding: 10px;
     margin: 5px;
    display: inline-block;
} 
    
#Cp {
    text-align: center;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 191, 62);
}
      
li {
    float: left;
}
      
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;      
}
      
li a:hover {
    background-color: rgb(172, 243, 196);
} 

